@use "../abstracts/tokens";

#shapes {
  opacity: 1;
  text-align: center;
  visibility: visible;

  .title {
    font-size: tokens.$shapesTitleFontSize;
    max-width: tokens.$shapesTitleMaxWidth;

    // Title hidden on about, skills or contact click
    [data-section] & {
      display: none;
    }
  }

  .menu {
    // Menu hidden on about, skills or contact click
    [data-section] & {
      display: none;
    }

    button {
      cursor: help;
      font-size: tokens.$shapesMenuButtonFontSize;
    }

    ul {
      display: flex;
      gap: tokens.$shapesMenuGap;
    }
  }
}
