@use "./tokens";

//** Width
@media screen and (min-width: 320px) {
  #about {
    padding: 6rem 2.5rem !important;
  }

  .color {
    display: block !important;

    &-picker {
      animation: colorPickerWidth 150ms forwards ease-in-out;
      display: block !important;
    }
  }

  .cube__wrapper {
    left: 10% !important;
    transform: scale(1.1);
  }

  .skill {
    align-items: center;
    flex-direction: row !important;
  }
}

@media screen and (min-width: 480px) {
  #about {
    padding: 5rem 4rem !important;
  }

  .cube__wrapper {
    left: 15% !important;
  }

  .logo__text {
    display: block !important;
  }

  .menu button {
    font-size: tokens.$fontSizeT4 !important;
  }
}

@media screen and (min-width: 541px) {
  #about {
    grid-template-columns: 1fr 2fr !important;
    padding: 3.25rem 4rem 4rem 2rem !important;

    &__content {
      max-height: 100% !important;
    }
  }

  .cube__wrapper {
    bottom: 45% !important;
    left: 5% !important;
  }

  .pyramid__wrapper {
    bottom: 20% !important;
    right: 5% !important;
  }

  #skills {
    justify-content: center !important;
    padding: 2rem 0 2.5rem 0 !important;

    &__content {
      width: 60% !important;

      .icon {
        margin: 0 1rem !important;
      }
    }
  }

  .sphere {
    right: 15% !important;
    top: 5% !important;
  }
}

@media screen and (min-width: 1024px) {
  #about {
    padding: 12.5% !important;
  }

  .cube__wrapper {
    bottom: 30% !important;
    left: 10% !important;
  }

  .email {
    font-size: 4vw !important;
  }

  .pyramid__wrapper {
    bottom: 15% !important;
    right: 15% !important;
    transform: scale(1.5);
  }

  #shapes .title {
    font-size: tokens.$fontSizeH3 !important;
  }

  #skills__content {
    width: 50% !important;

    .icon {
      margin: 0 1.5rem !important;
    }
  }

  .sphere {
    height: calc(tokens.$shapeSize * 1.15) !important;
    right: 20% !important;
    top: 15% !important;
    width: calc(tokens.$shapeSize * 1.15) !important;
  }
}

@media screen and (min-width: 1441px) {
  #skills {
    padding: 0 !important;
  }
}

//** Height
@media screen and (max-height: 320px) {
  .cube__wrapper {
    bottom: 40% !important;
    transform: scale(0.9);
  }
}

@media screen and (min-height: 576px) {
  .cube__wrapper {
    bottom: 25% !important;
  }

  .pyramid__wrapper {
    bottom: 10% !important;
  }
}

@media screen and (min-height: 1024px) {
  #about {
    padding: 25% 10% !important;
  }

  .cube__wrapper {
    bottom: 35% !important;
    left: 15% !important;
  }

  .pyramid__wrapper {
    bottom: 15% !important;
    right: 20% !important;
    transform: scale(1.5) !important;
  }

  #shapes .title {
    font-size: tokens.$fontSizeH3 !important;
  }

  .sphere {
    height: calc(tokens.$shapeSize * 1.15) !important;
    top: 22.5% !important;
    width: calc(tokens.$shapeSize * 1.15) !important;
  }
}
