@use "./typography";

// Tokens store the value of properties declared in components partials, thus you can set most of the style directly from here
// The only values missing are meant to be fixed or standard (e.g. a circle has border-radius: 50%, with no need for changes)

//** Global Tokens
$borderPrimary: 0.15rem solid var(--colorContent);

$fontFamilyComfortaa: "Comfortaa", cursive;
$fontFamilyGugi: "Gugi", cursive;

$fontSizeH3: map-get(typography.$types, "h3");
$fontSizeH4: map-get(typography.$types, "h4");
$fontSizeT3: map-get(typography.$types, "t3");
$fontSizeT4: map-get(typography.$types, "t4");
$fontSizeT5: map-get(typography.$types, "t5");

$shapeSize: var(--shapeSize);

$transition150eo: all 150ms ease-out;
$transitionTransform250eio: transform 250ms ease-in-out;

$zIndex1: 1;
$zIndex2: 2;

//** Contestual Tokens
$aboutGridTemplateColumns: 0 1fr;
$aboutPadding: 4.5rem 1rem;
$aboutContentMaxHeight: 60%;

$backBtnMarginTop: 2rem;

$bodyBg: var(--colorBgPrimary);
$bodyColor: var(--colorContent);
$bodyFontFamily: $fontFamilyComfortaa;
$bodyFontSize: $fontSizeT4;
$bodyLineHeight: 1.4;

$colorPickerBorderRadius: 0.3rem;
$colorPickerHeight: 2rem;
$colorPickerTransition: $transition150eo;
$colorPickerPointerBg: var(--colorBgSecondary);
$colorPickerPointerWidth: 1rem;

$contactEmailFontSize: 5vw;

$cubeTransform: rotateY(-30deg);
$cubeSideBorder: $borderPrimary;
$cubeSideTransition: $transitionTransform250eio;
$cubeSideTranslateZ: var(--cubeSideTranslateZ);
$cubeWrapperBottom: 15%;
$cubeWrapperLeft: 0;
$cubeWrapperPerspective: 100rem;
$cubeWrapperPerspectiveOrigin: 50% -250%;

$cursorBorder: $borderPrimary;
$cursorSize: 2rem;
$cursorTransition: $transition150eo;
$cursorZIndex: $zIndex2;
$cursorActiveBg: var(--colorContent);
$cursorActiveTransform: scale(1.5);
$cursorBeforeBg: var(--colorContent);
$cursorBeforeSize: 0.3rem;

$headerZIndex: $zIndex1;
$headerColorBg: linear-gradient(
  -45deg,
  var(--colorBgSecondary),
  var(--colorContent)
);
$headerColorMargin: 0 1.5rem 0 0.5rem;
$headerContentPadding: 1.75rem;
$headerContentLeftFontSize: $fontSizeT3;
$headerContentLeftGap: 1rem;
$headerContentRightSize: 1rem;
$headerLogoSize: 2rem;
$headerLogoPathFill: var(--colorContent);

$loaderBg: var(--colorContent);
$loaderZIndex: $zIndex2;

$pyramidTransform: var(--pyramidTransform);
$pyramidTransition: $transitionTransform250eio;
$pyramidWrapperBottom: 3%;
$pyramidWrapperRight: 5%;

$scrollbarBg: var(--colorBgSecondary);
$scrollbarBorderRadius: 0.5rem;
$scrollbarWidth: 0.2rem;

$sectionContentAnimationSlideY: -2rem;
$sectionContentPadding: 0 1rem;

$shapesMenuGap: 2rem;
$shapesMenuZIndex: $zIndex1;
$shapesMenuButtonFontSize: $fontSizeT5;
$shapesTitleFontSize: $fontSizeH4;
$shapesTitleMaxWidth: 75%;

$skillBorderBottom: $borderPrimary;
$skillPadding: 0.75rem 0;
$skillsMaxHeight: 81.5%;
$skillsPadding: 6rem 0;
$skillsWidth: 85%;
$skillsIconMargin: 0 0.5rem;
$skillsImgMargin: 0.5rem 0;
$skillsImgSize: 2.75rem;
$skillsProjectGap: 1rem;
$skillsProjectMarginTop: 2rem;

$sphereBg: linear-gradient(0.45turn, var(--colorContent), transparent);
$sphereBoxShadow: inset -0.5rem -0.5rem 2rem var(--colorShadow);
$sphereRight: 5%;
$sphereTop: 15%;
$sphereTransition: $transitionTransform250eio;

$titleFontFamily: $fontFamilyGugi;
$titleMargin: 0.75rem 0;
